* {
  box-sizing: border-box;
  font-family: 'Open-sans', sans-serif;
  margin: 0;
}

.site-header {
  background-color: #1f1e3d;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 20px;
}

h1 {
  color: white;
  margin-bottom: 30px;
  padding-top: 15px;
  text-align: center;
}
.yo-span {
  color: #ffc303;
}

.search-div {
  border: 1px solid #5356a4;
  border-radius: 2px;
  height: 50px;
  margin-left: 5%;
  padding-bottom: 20px;
  width: 90%;
}

.search-btn {
  background-color: #c7d3d8;
  background-repeat: no-repeat;
  height: 48px;
  margin-right: -3px;
  padding: 7px;
  position: absolute;
  width: 8%;
} 

.search-input {
  float: right;
  height: 48px;
  padding-left: 10px;
  width: 92%;
}

img {
  height: 18px;
  width: 18px;
}

aside{
  background-color: #597a8b;
}

form {
  padding-top: 10px;
  padding-bottom: 20px;
}

label {
  color: #c7d3d8;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-top: 10px;
}

li {
  display: inline;
  list-style-type:none
}

.todo-task-item {
  color: white;
}

.title-input {
  border: 2px solid #1f1e3d;
  border-radius: 2px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 5%;
  width: 90%;
}

.task-item-div {
  border: 2px solid #1f1e3d;
  border-radius: 2px;
  height: 50px;
  margin-left: 5%;
  padding-bottom: 20px;
  width: 90%;
}

.add-task-btn {
  background-color: #1f1e3d;
  height: 46px;
  padding: 7px;
  width: 14%;
} 

.item-input {
  float: left;
  height: 46px;
  width: 86%;
}

.nav-btn {
  background-color: #1f1e3d;
  border: none;
  border-radius: 2px;
  color: white;
  display: block;
  font-size: 26px;
  font-weight: 400;
  height: 50px;
  margin-left: 5%;
  margin-top: 30px;
  width: 90%;
}

.aside-line {
  border: 2px inset #597a8b;
  margin-top: 30px;
}

.card-field {
  background-color: #f2f6f7;
  border: 2px solid #597a8b;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  padding-left: 20px;
}

.indication-msg {
  color: #1f1e3d;
  font-size: 30px;
  font-weight: 800;
  height: 100px;
  margin-top: 30px;
  text-align: center;
  width: 90%;
}

article {
  background-color: white;
  border: 1px solid #c7d3d8;
  display: grid;
  grid-template-rows: 10% 65% 25%;
  min-height: 240px;
  margin-top: 20px;
  width: 97%;
}

.card-header {
  border-bottom: 1px solid #c7d3d8;
  height: 45px;
}

h2 {
  color: #1f1e3d;
  margin: 10px;
}

.card-task-field {
  margin-top: 40px;
}

.card-list {
  height: 10px;
  padding-left: 10px;
}

.card-task-items {
  color: #1f1e3d;
  font-size: 20px;
}

footer {
  border-top: 1px solid #cad5da;
  display: flex;
  height: 15%;
  justify-content: space-between;
}

.card-icons {
  display: inline-block;
}

.delete-text,
.urgent-text{
  color: #597a8b;
  display: block;
}

.delete-text {
  margin-right: 15px;
}

.urgent-button {
  height: 20px;
  margin-left: 15px; 
  margin-top: 5px;
  width: 20px;
}

.delete-card-button {
  height: 20px;
  margin-left: 25%;
  margin-top: 10px;
  width: 20px;
}

.yellow-card {
  background-color: #ffe79d;
  border: 1px solid #ffc303;
}

.yellow-top-border {
  border-top: 1px solid #ffc303;
}

.yellow-bottom-border {
  border-bottom: 1px solid #ffc303;
}

@media screen and (max-width: 340px) {

  .site-header {
    font-size: 16px;
  }
}

@media screen and (min-width: 790px) {

  body {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside cardField";
    grid-template-columns: 30% 70%;
    grid-template-rows: 9% 91%;
    height: 100vh;
  }

  h1 {
    margin-left: 20px;
  }

  .site-header{
    grid-area: header;
    display: flex;
    justify-content: space-between
  }

  .search-div {
    margin-right: 10px;
    margin-top: 12px;
    width: 30%;
  }

  .search-btn {
    width: 3%;
  }

  .search-input {
    padding-left: 35px;
    width: 97%;
  }

  aside {
    grid-area: aside;
    height: 100vh;
  }

  .card-Field {
    grid-area: cardField;
  }

  .indication-msg {
    width: 48%
  }

  article {
    width: 48%;
  }

}